.navbar-logo {
  width: 30px;
  height: 30px;
  border-radius: 5%;
}

.btn-htl {
  background-color: #FFE65D !important; /* HTL-Logo-Yellow */
  color: black !important;  
  border-color: black !important;
}

#topNav a {
  text-decoration: none; 
}